<form method="post" action="{{ path('app_room_delete', {'id': room.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
    <button class="btn btn-danger delete-confirm">{% trans %}Delete{% endtrans %}</button>
</form>
