{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Add room{% endtrans %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="page-header mt-3">
        <div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_schedule') }}">{% trans %}Schedule{% endtrans %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans %}Add room{% endtrans %}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mt-3">
                <div class="card-header">
                    <h2 class="card-title">{% trans %}Add room{% endtrans %}</h2>
                </div>
                {{ include('room/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
