<form method="post" action="{{ path('app_booking_delete', {'id': booking.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <a class="btn btn-danger delete-confirm">{% trans %}Delete{% endtrans %}</a>
</form>
