$background: #f0f0f5;
$default-color:#282f53;
$border: #e9edf4;

$primary-1:var(--primary-bg-color);
$primary-01: rgba(108, 95, 252, 0.1);
$primary-02: rgba(108, 95, 252, 0.2);
$primary-03: rgba(108, 95, 252, 0.3);
$primary-06: rgba(108, 95, 252, 0.6);
$primary-09: rgba(108, 95, 252, 0.9);
$primary-005: rgba(108, 95, 252, 0.05);
$primary-hover:var(--primary-bg-hover);
$primary-border:var(--primary-bg-border);
$primary-transparent:var(--primary-transparentcolor);
$secondary:#05c3fb;
$pink: #ec82ef;
$teal:#1caf9f;
$purple:#8927ec;
$success:#09ad95;
$warning:#f7b731;
$danger:#e82646;
$info:#1170e4;
$orange:#fc7303;
$red:#e73827;
$lime:#7bd235;
$dark:#343a40;
$indigo:#6574cd;
$cyan:#007ea7;
$azure:#45aaf2;
$white:#fff;
$black:#000;
$light:#f2f2f9;
$gray:#5a6970;
$green:#4ecc48;
$blue:#3223f1;
$yellow:#FBB034;

$white-1:rgba(255, 255, 255, 0.1);
$white-2:rgba(255, 255, 255, 0.2);
$white-3:rgba(255, 255, 255, 0.3);
$white-4:rgba(255, 255, 255, 0.4);
$white-5:rgba(255, 255, 255, 0.5);
$white-6:rgba(255, 255, 255, 0.6);
$white-7:rgba(255, 255, 255, 0.7);
$white-8:rgba(255, 255, 255, 0.8);
$white-9:rgba(255, 255, 255, 0.9);

$black-05:rgba(0, 0, 0, 0.05);

$shadow:0 5px 15px 5px rgba(80, 102, 224, 0.08);